---
- name: Reload sysctl
  command: sysctl -p

- name: restart ntpd
  service: name=ntpd state=restarted

- name: update tzdata
  command: dpkg-reconfigure --frontend noninteractive tzdata

- name: restart pi
  command: shutdown -r now "Reboot for config.txt modification"
